.header {
    &__nav {
        position: absolute;
        top: 8rem;
        right: 25rem;
        font-size: 2rem;
        text-transform: uppercase;

        
        & ul {
            list-style: none;
             li {
                display: inline;
                
                & a:link,
                a:visited
                {
                    text-decoration: none;
                    color: $color-white;
                    padding: 1.2rem;
                }
             }
        }
    }
}

