<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <script defer src="/static/js/app.js"></script>
    <title>Landing-page</title>
</head>
<body>
    
    <header class="header">
        <div class="red-bar header__red-bar hidden">&nbsp;</div>
    
        <div class="header__nav hidden">
            <nav>
                <ul>
                    <li><a class="header__nav-item"href="#">home</a></li>
                    <li><a class="header__nav-item"href="#">cursos</a></li>
                    <li><a class="header__nav-item"href="#">contato</a></li>
                </ul>
            </nav>
        </div>
        
        <div class="header__text hidden">
            <h1 class="heading-primary"> 
                <span class="heading-primary--top"> Os melhores</span> 
                <span class="heading-primary--bottom"> cursos do brasil</span>
            </h1>
            <p class="paragraph">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti sapiente aspernatur aperiam eos? Repellat, eum.
            </p>
            <a href="#" class="btn btn-main btn-animated">Saiba mais</a>
        </div>
        
        <div class="scroll hidden">
            <div class="scroll__circle">&nbsp;</div>
        </div>
    </header>

    <main class="main">
        <section class="icon-section">
            <div class="red-bar icon-section__red-bar hidden grow">&nbsp;</div>
            <div class="icon-section__icon-container hidden">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="icon-section__icon--1 hidden">
                    <path fill-rule="evenodd"
                        d="M9.664 1.319a.75.75 0 01.672 0 41.059 41.059 0 018.198 5.424.75.75 0 01-.254 1.285 31.372 31.372 0 00-7.86 3.83.75.75 0 01-.84 0 31.508 31.508 0 00-2.08-1.287V9.394c0-.244.116-.463.302-.592a35.504 35.504 0 013.305-2.033.75.75 0 00-.714-1.319 37 37 0 00-3.446 2.12A2.216 2.216 0 006 9.393v.38a31.293 31.293 0 00-4.28-1.746.75.75 0 01-.254-1.285 41.059 41.059 0 018.198-5.424zM6 11.459a29.848 29.848 0 00-2.455-1.158 41.029 41.029 0 00-.39 3.114.75.75 0 00.419.74c.528.256 1.046.53 1.554.82-.21.324-.455.63-.739.914a.75.75 0 101.06 1.06c.37-.369.69-.77.96-1.193a26.61 26.61 0 013.095 2.348.75.75 0 00.992 0 26.547 26.547 0 015.93-3.95.75.75 0 00.42-.739 41.053 41.053 0 00-.39-3.114 29.925 29.925 0 00-5.199 2.801 2.25 2.25 0 01-2.514 0c-.41-.275-.826-.541-1.25-.797a6.985 6.985 0 01-1.084 3.45 26.503 26.503 0 00-1.281-.78A5.487 5.487 0 006 12v-.54z"
                        clip-rule="evenodd" />
                </svg>
                <p class="paragraph hidden">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates ratione, quisquam doloribus ducimus sint repellat!</p>
            </div>

            <div class="red-bar icon-section__red-bar hidden grow">&nbsp;</div>
            <div class="icon-section__icon-container hidden">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="icon-section__icon--1 hidden">
                    <path fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm.75-13a.75.75 0 00-1.5 0v5c0 .414.336.75.75.75h4a.75.75 0 000-1.5h-3.25V5z"
                        clip-rule="evenodd" />
                </svg>

                <p class="paragraph hidden">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates ratione, quisquam doloribus
                    ducimus sint repellat!</p>
            </div>

            <div class="red-bar icon-section__red-bar hidden grow">&nbsp;</div>

        </section>

        <section class="section__text">
            <div class="red-bar section__text--redbar hidden">&nbsp;</div>
            <div class="section__text--textbox u-margin-left-small u-margin-top-big hidden">
                <h3 class="section__text--heading-tertiary">
                    <span class="section__text--heading-top">
                        A melhor palataforma
                    </span>
                    <span class="section__text--heading-bottom">
                        Na internet
                    </span>
                </h3>
                <p class="section__text--paragraph u-margin-top-smaller">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Assumenda fuga eos magni quibusdam, quisquam sunt?
                </p>
            </div>
            <div class="red-bar section__text--redbar--small hidden u-margin-top-big">&nbsp;</div>
            <div class="section__text-container--grid">
                <div class="section__text-container--grid-box border border__left-top hidden"></div>
                <div class="section__text-container--grid-box border border__right-top hidden"></div>
                <div class="section__text-container--grid-box border border__left-bottom hidden"></div>
                <div class="section__text-container--grid-box border border__right-bottom hidden"></div>
            </div>
        </section>

        <section class="section-card">
            <div class="card">
                <div class="card__side hidden">
                    <div class="card__side card__side--front">
                        <div class="card__side-heading-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon card__side-icon">
                                <path
                                    d="M11.25 4.533A9.707 9.707 0 006 3a9.735 9.735 0 00-3.25.555.75.75 0 00-.5.707v14.25a.75.75 0 001 .707A8.237 8.237 0 016 18.75c1.995 0 3.823.707 5.25 1.886V4.533zM12.75 20.636A8.214 8.214 0 0118 18.75c.966 0 1.89.166 2.75.47a.75.75 0 001-.708V4.262a.75.75 0 00-.5-.707A9.735 9.735 0 0018 3a9.707 9.707 0 00-5.25 1.533v16.103z" />
                            </svg>
                        </div>


                        <div class="card__side-list">
                            <ul>
                                <li>Assista de onde quiser</li>
                                <li>Autonomia para um estudo flexivel</li>
                                <li>Tudo em apenas um lugar</li>
                                <li>acesso a todos os cursos</li>
                                <li>Acesso: Vitalicio</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-2">

                        <div class="card__side--back-price-box">
                            <p class="only">Apenas</p>
                            <h4 class="price">R$75.99</h4>
                            <div class="u-margin-top-small">
                                <a href="#" class="btn btn--main">Assinar</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card__side card__side--main hidden">
                    <div class="card__side card__side--front">
                        <div class="card__side-heading-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon card__side-icon card__side-icon--main">
                                <path
                                    d="M11.25 4.533A9.707 9.707 0 006 3a9.735 9.735 0 00-3.25.555.75.75 0 00-.5.707v14.25a.75.75 0 001 .707A8.237 8.237 0 016 18.75c1.995 0 3.823.707 5.25 1.886V4.533zM12.75 20.636A8.214 8.214 0 0118 18.75c.966 0 1.89.166 2.75.47a.75.75 0 001-.708V4.262a.75.75 0 00-.5-.707A9.735 9.735 0 0018 3a9.707 9.707 0 00-5.25 1.533v16.103z" />
                            </svg>
                        </div>

                        <div class="card__side-list">
                            <ul>
                                <li>Assista de onde quiser</li>
                                <li>Autonomia para um estudo flexivel</li>
                                <li>Tudo em apenas um lugar</li>
                                <li>acesso a todos os cursos</li>
                                <li>Acesso: Vitalicio</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-2">
                        <div class="card__side--back-price-box">
                            <p class="only">Apenas</p>
                            <h4 class="price">R$100</h4>
                            <div class="u-margin-top-small">
                                <a href="#" class="btn btn--main">Assinar</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card__side card__side--tertiary hidden">
                    <div class="card__side card__side--front">
                        <div class="card__side-heading-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon card__side-icon">
                                <path
                                    d="M11.25 4.533A9.707 9.707 0 006 3a9.735 9.735 0 00-3.25.555.75.75 0 00-.5.707v14.25a.75.75 0 001 .707A8.237 8.237 0 016 18.75c1.995 0 3.823.707 5.25 1.886V4.533zM12.75 20.636A8.214 8.214 0 0118 18.75c.966 0 1.89.166 2.75.47a.75.75 0 001-.708V4.262a.75.75 0 00-.5-.707A9.735 9.735 0 0018 3a9.707 9.707 0 00-5.25 1.533v16.103z" />
                            </svg>
                        </div>

                        <div class="card__side-list">
                            <ul>
                                <li>Assista de onde quiser</li>
                                <li>Autonomia para um estudo flexivel</li>
                                <li>Tudo em apenas um lugar</li>
                                <li>acesso a todos os cursos</li>
                                <li>Acesso: Vitalicio</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-2">
                        <div class="card__side--back-price-box">
                            <p class="only">Apenas</p>
                            <h4 class="price">R$85.50</h4>
                            <div class="u-margin-top-small">
                                <a href="#" class="btn btn--main">Assinar</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="section-call">

            <div class="form-container">
                <form action="#" class="form">
                    <div class="form__text u-margin-bottom-small">
                        <h3 class="form__heading-tertiary">Deixe seu Email</h3>
                    </div>
                    <div class="form__group u-margin-bottom-small">
                        <input type="text" id="nome" class="form__input" required placeholder="Nome">
                        <label for="nome" class="form__label">Nome</label>
                    </div>
                    <div class="form__group u-margin-bottom-small">
                        <input type="email" id="email" class="form__input" required placeholder="Email">
                        <label for="email" class="form__label">Email</label>
                    </div>
                    <button type="submit" class="btn form__btn">Cadastrar Email</button>
                </form>
            </div>
        </section>
    </main>

    <footer class="footer">
        <ul class="footer__list">
            <li class="footer__item"><a href="#" class="footer__link">Home</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Deixe seu Email</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Saiba mais</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Contato</a></li>
        </ul>
        <div class="footer__text">
            <h2 class="footer__text__heading-secondary">Uma plataforma brasileira</h2>
            <p class="footer__text__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Tenetur praesentium earum delectus quam! Earum, deserunt repellat.
            </p>
            <p class="footer__text__copy"> 2022 - Copyright &copy;</p>
        </div>
    </footer>
</body>
</html>
